#pokemonsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

    & #loadMorePokemons {
        background-color: #6c7adc;
        color: #fff;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;   
        display: inline-block;
    }

    & .right {
        display: inline-block;
        position: relative;
        background-color: #6c7adc; 
        color: white;             
        padding: 13px 15px;       
        text-decoration: none;    
        font-size: 16px;          
        font-weight: bold;        
        border: none;             
        border-radius: 1rem;     
        cursor: pointer;          
        transition: background-color 0.3s ease;
        margin: 5px;
    }

    & .left {
        display: inline-block;
        position: relative;
        background-color: #6c7adc; 
        color: white;             
        padding: 13px 15px;       
        text-decoration: none;    
        font-size: 16px;          
        font-weight: bold;        
        border: none;             
        border-radius: 1rem;     
        cursor: pointer;          
        transition: background-color 0.3s ease;
        margin: 5px;
    }
}

.right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 6px 0 6px 10px;
    border-left-color: white; 
}

.right:hover {
    background-color: #5059a1; 
}

.left::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px; /* Posiciona a seta à esquerda */
    transform: translateY(-50%);
    border: solid transparent;
    border-width: 6px 10px 6px 0;
    border-right-color: white; /* Cor da seta */
}

.left:hover {
    background-color: #5059a1; /* Cor ao passar o mouse */
}

@media screen and (max-width: 365px) {
    #pokemonsList {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 570px) {
    #pokemonsList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 950px) {
    #pokemonsList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}