/* Tipos de Pokémon */
[color-type="grass"] {
  background-color: #65d32d;
}

[color-type="poison"] {
  background-color: #a040a0;
}

[color-type="fire"] {
  background-color: #f08030;
}

[color-type="water"] {
  background-color: #68c0f0;
}

[color-type="bug"] {
  background-color: #acbb22;
}

[color-type="normal"] {
  background-color: #bbbb8c;
}

[color-type="electric"] {
  background-color: #f8d030;
}

[color-type="ground"] {
  background-color: #e0c068;
}

[color-type="fairy"] {
  background-color: #ee99ac;
}

[color-type="fighting"] {
  background-color: #c03028;
}

[color-type="psychic"] {
  background-color: #f85888;
}

[color-type="rock"] {
  background-color: #b8a038;
}

[color-type="ghost"] {
  background-color: #705898;
}

[color-type="ice"] {
  background-color: #98d8d8;
}

[color-type="dragon"] {
  background-color: #7038f8;
}

[color-type="dark"] {
  background-color: #705848;
}

[color-type="steel"] {
  background-color: #b8b8d0;
}

[color-type="flying"] {
  background-color: #a890f0;
}
